body{
    margin:0;
    padding: 0;
    background: mediumblue;
    font-family: "poppins", sans-serif;
}
h1{
    margin: 0;
    font-weight: 400;
}
h2{
    margin: 0;
    font-weight: 400;
}